# Investiagte Data Using Pandas

In [1]:
import pandas as pd
from helpers import *
import json


## Loading and Investiagting Data

### 1. Immigration Data
> I94 Immigration Data: This data comes from the US National Tourism and Trade Office.

In [2]:
df_immigration = pd.read_csv("immigration_data_sample.csv")

In [3]:
data_investigation(df_immigration)

Data Head

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,2027561,4084316.0,2016.0,4.0,209.0,209.0,HHW,20566.0,1.0,HI,...,NaN,M,1955.0,07202016,F,NaN,JL,5.658267e+10,00782,WT
1,2171295,4422636.0,2016.0,4.0,582.0,582.0,MCA,20567.0,1.0,TX,...,NaN,M,1990.0,10222016,M,NaN,*GA,9.436200e+10,XBLNG,B2

______________________________________________________________________________

Data Shape

'The data has 1000 rows and 29 columns'

______________________________________________________________________________

Columns

['Unnamed: 0',
 'cicid',
 'i94yr',
 'i94mon',
 'i94cit',
 'i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'i94addr',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'dtadfile',
 'visapost',
 'occup',
 'entdepa',
 'entdepd',
 'entdepu',
 'matflag',
 'biryear',
 'dtaddto',
 'gender',
 'insnum',
 'airline',
 'admnum',
 'fltno',
 'visatype']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

['entdepu']

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

i94yr     2016.0
i94mon       4.0
count        1.0
dtype: float64

______________________________________________________________________________

Column Data Type

Unnamed: 0      numpy.int64
cicid         numpy.float64
i94cit        numpy.float64
i94res        numpy.float64
i94port                 str
arrdate       numpy.float64
i94mode       numpy.float64
i94addr                 str
depdate       numpy.float64
i94bir        numpy.float64
i94visa       numpy.float64
dtadfile        numpy.int64
visapost                str
occup                   str
entdepa                 str
entdepd                 str
matflag                 str
biryear       numpy.float64
dtaddto                 str
gender                  str
insnum        numpy.float64
airline                 str
admnum        numpy.float64
fltno                   str
visatype                str
dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

entdepu       1000
occup          996
insnum         965
visapost       618
gender         141
i94addr         59
depdate         49
matflag         46
entdepd         46
airline         33
fltno            8
Unnamed: 0       0
admnum           0
dtaddto          0
biryear          0
entdepa          0
dtadfile         0
cicid            0
count            0
i94visa          0
i94bir           0
i94mode          0
arrdate          0
i94port          0
i94res           0
i94cit           0
i94mon           0
i94yr            0
visatype         0
dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

entdepu       1.000
occup         0.996
insnum        0.965
visapost      0.618
gender        0.141
i94addr       0.059
depdate       0.049
matflag       0.046
entdepd       0.046
airline       0.033
fltno         0.008
Unnamed: 0    0.000
admnum        0.000
dtaddto       0.000
biryear       0.000
entdepa       0.000
dtadfile      0.000
cicid         0.000
count         0.000
i94visa       0.000
i94bir        0.000
i94mode       0.000
arrdate       0.000
i94port       0.000
i94res        0.000
i94cit        0.000
i94mon        0.000
i94yr         0.000
visatype      0.000
dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

,Unnamed: 0,cicid,i94yr,i94mon,i94cit,i94res,arrdate,i94mode,depdate,i94bir,i94visa,count,dtadfile,entdepu,biryear,insnum,admnum
count,1.000000e+03,1.000000e+03,1000.0,1000.0,1000.000000,1000.00000,1000.000000,1000.000000,951.000000,1000.000000,1000.000000,1000.0,1.000000e+03,0.0,1000.000000,35.000000,1.000000e+03
mean,1.542097e+06,3.040461e+06,2016.0,4.0,302.928000,298.26200,20559.680000,1.078000,20575.037855,42.382000,1.859000,1.0,2.016042e+07,NaN,1973.618000,3826.857143,6.937237e+10
std,9.152879e+05,1.799818e+06,0.0,0.0,206.485285,202.12039,8.995027,0.485955,24.211234,17.903424,0.386353,0.0,4.951657e+01,NaN,17.903424,221.742583,2.338134e+10
min,1.092500e+04,1.320800e+04,2016.0,4.0,103.000000,103.00000,20545.000000,1.000000,20547.000000,1.000000,1.000000,1.0,2.016040e+07,NaN,1923.000000,3468.000000,0.000000e+00
25%,7.214422e+05,1.412170e+06,2016.0,4.0,135.000000,131.00000,20552.000000,1.000000,20561.000000,30.750000,2.000000,1.0,2.016041e+07,NaN,1961.000000,3668.000000,5.599301e+10
50%,1.494568e+06,2.941176e+06,2016.0,4.0,213.000000,213.00000,20560.000000,1.000000,20570.000000,42.000000,2.000000,1.0,2.016042e+07,NaN,1974.000000,3887.000000,5.931477e+10
75%,2.360901e+06,4.694151e+06,2016.0,4.0,438.000000,438.00000,20567.250000,1.000000,20580.000000,55.000000,2.000000,1.0,2.016042e+07,NaN,1985.250000,3943.000000,9.343623e+10
max,3.095749e+06,6.061994e+06,2016.0,4.0,746.000000,696.00000,20574.000000,9.000000,20715.000000,93.000000,3.000000,1.0,2.016080e+07,NaN,2015.000000,4686.000000,9.502151e+10

______________________________________________________________________________

| column                     |   |   |
|:---------------------------|:---|:---|
| i94yr | int4 | 4 digit year of the application |
| i94mon | int2 | month of thr application |
| i94cit                    | int  | code of the citizinship of applicant |
| i94res                    |  int | code of the country of residence of applicant  |
| arrdate                   | int5  | is the Arrival Date in the USA. It is a SAS date numeric field that a permament format has not been applied.  |
| i94mode                   |  int1 |  	1 = 'Air' 2 = 'Sea' 3 = 'Land' 9 = 'Not reported'  |
| i94addr                   |  str | address  |
| depdate                   |   | DEPDATE is the Departure Date from the USA. It is a SAS date numeric field that a permament format has not been applied. Please apply whichever date format works for you.  |
| i94bir                    | int3  | Age of Respondent in Years  |
| i94visa                   |  int1 |     1 = Business  2 = Pleasure  3 = Student |
| dtadfile                  |  str | YYYYMMDD Character Date Field - Date added to I-94 Files - CIC does not use  |
| visapost                  |  str3 |  Department of State where where Visa was issued - CIC does not use |
| occup                     |  str3 | Occupation that will be performed in U.S. - CIC does not use  |
| entdepa                   |  str1 |  Departure Flag - Departed, lost I-94 or is deceased - CIC does not use   |
| entdepd                   | str1 |  Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use |
| matflag                   |  str |  Match flag - Match of arrival and departure records  |
| biryear                   | int4  | birthdate   |
| dtaddto                   | str | MMDDYYYY Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use |
| gender                    | str  | Non-immigrant sex  |
| insnum                    |  int | INS number  |
| airline                    |  str | Airline used to arrive in U.S.  |
| admnum                    |  int |  Admission Number |
| fltno                    |  str |  Flight number of Airline used to arrive in U.S. |
| visatype                    | str  |  Class of admission legally admitting the non-immigrant to temporarily stay in U.S.  |

In [4]:
df94 = df_immigration[list(filter(lambda x: "94" in x, df_immigration.columns))]

In [5]:
df_immigration["airline"].value_counts()

AA     109
UA      84
DL      77
BA      53
LH      45
      ...
BB       1
PY       1
WK       1
SWQ      1
ZX       1
Name: airline, Length: 101, dtype: int64

##  MAPPING FILES

In [6]:
with open("I94_SAS_Labels_Descriptions.SAS") as f:
    f_content = f.read()
    f_content = f_content.replace("\t", "")


def code_mapper(file, idx):
    f_content2 = f_content[f_content.index(idx) :]
    f_content2 = f_content2[: f_content2.index(";")].split("\n")
    f_content2 = [i.replace("'", "") for i in f_content2]
    dic = [i.split("=") for i in f_content2[1:]]
    dic = dict([i[0].strip(), i[1].strip()] for i in dic if len(i) == 2)
    return dic


i94cit_res = code_mapper(f_content, "i94cntyl")
i94port = code_mapper(f_content, "i94prtl")
i94mode = code_mapper(f_content, "i94model")
i94addr = code_mapper(f_content, "i94addrl")
i94visa = {"1": "Business", "2": "Pleasure", "3": "Student"}

In [7]:
i94addr

{'AL': 'ALABAMA',
 'AK': 'ALASKA',
 'AZ': 'ARIZONA',
 'AR': 'ARKANSAS',
 'CA': 'CALIFORNIA',
 'CO': 'COLORADO',
 'CT': 'CONNECTICUT',
 'DE': 'DELAWARE',
 'DC': 'DIST. OF COLUMBIA',
 'FL': 'FLORIDA',
 'GA': 'GEORGIA',
 'GU': 'GUAM',
 'HI': 'HAWAII',
 'ID': 'IDAHO',
 'IL': 'ILLINOIS',
 'IN': 'INDIANA',
 'IA': 'IOWA',
 'KS': 'KANSAS',
 'KY': 'KENTUCKY',
 'LA': 'LOUISIANA',
 'ME': 'MAINE',
 'MD': 'MARYLAND',
 'MA': 'MASSACHUSETTS',
 'MI': 'MICHIGAN',
 'MN': 'MINNESOTA',
 'MS': 'MISSISSIPPI',
 'MO': 'MISSOURI',
 'MT': 'MONTANA',
 'NC': 'N. CAROLINA',
 'ND': 'N. DAKOTA',
 'NE': 'NEBRASKA',
 'NV': 'NEVADA',
 'NH': 'NEW HAMPSHIRE',
 'NJ': 'NEW JERSEY',
 'NM': 'NEW MEXICO',
 'NY': 'NEW YORK',
 'OH': 'OHIO',
 'OK': 'OKLAHOMA',
 'OR': 'OREGON',
 'PA': 'PENNSYLVANIA',
 'PR': 'PUERTO RICO',
 'RI': 'RHODE ISLAND',
 'SC': 'S. CAROLINA',
 'SD': 'S. DAKOTA',
 'TN': 'TENNESSEE',
 'TX': 'TEXAS',
 'UT': 'UTAH',
 'VT': 'VERMONT',
 'VI': 'VIRGIN ISLANDS',
 'VA': 'VIRGINIA',
 'WV': 'W. VIRGINIA',
 'WA': 'WASHINGTON',
 'WI': 'WISCONSON',
 'WY': 'WYOMING',
 '99': 'All Other Codes'}

In [8]:
with open("mapping_files/i94cit_res.json", "w") as outfile:
    json.dump(i94cit_res, outfile)
with open("mapping_files/i94port.json", "w") as outfile:
    json.dump(i94port, outfile)
with open("mapping_files/i94mode.json", "w") as outfile:
    json.dump(i94mode, outfile)
with open("mapping_files/i94addr.json", "w") as outfile:
    json.dump(i94addr, outfile)
with open("mapping_files/i94visa.json", "w") as outfile:
    json.dump(i94visa, outfile)

### 2. US Cities: Demographics Data
> This data comes from [OpenSoft](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/).
> This dataset contains information about the demographics of all US cities and census-designated places with a population greater or equal to 65,000.

In [9]:
df_cities = pd.read_csv("us-cities-demographics.csv", sep=";")

In [10]:
data_investigation(df_cities)

Data Head

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723

______________________________________________________________________________

Data Shape

'The data has 2891 rows and 12 columns'

______________________________________________________________________________

Columns

['City',
 'State',
 'Median Age',
 'Male Population',
 'Female Population',
 'Total Population',
 'Number of Veterans',
 'Foreign-born',
 'Average Household Size',
 'State Code',
 'Race',
 'Count']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

None

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

None

______________________________________________________________________________

Column Data Type

City                        str
State                       str
Median Age                float
Male Population           float
Female Population         float
Total Population            int
Number of Veterans        float
Foreign-born              float
Average Household Size    float
State Code                  str
Race                        str
Count                       int
dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

Average Household Size    16
Number of Veterans        13
Foreign-born              13
Male Population            3
Female Population          3
City                       0
State                      0
Median Age                 0
Total Population           0
State Code                 0
Race                       0
Count                      0
dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

Average Household Size    0.005534
Number of Veterans        0.004497
Foreign-born              0.004497
Male Population           0.001038
Female Population         0.001038
City                      0.000000
State                     0.000000
Median Age                0.000000
Total Population          0.000000
State Code                0.000000
Race                      0.000000
Count                     0.000000
dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Count
count,2891.000000,2.888000e+03,2.888000e+03,2.891000e+03,2878.000000,2.878000e+03,2875.000000,2.891000e+03
mean,35.494881,9.732843e+04,1.017696e+05,1.989668e+05,9367.832523,4.065360e+04,2.742543,4.896377e+04
std,4.401617,2.162999e+05,2.315646e+05,4.475559e+05,13211.219924,1.557491e+05,0.433291,1.443856e+05
min,22.900000,2.928100e+04,2.734800e+04,6.321500e+04,416.000000,8.610000e+02,2.000000,9.800000e+01
25%,32.800000,3.928900e+04,4.122700e+04,8.042900e+04,3739.000000,9.224000e+03,2.430000,3.435000e+03
50%,35.300000,5.234100e+04,5.380900e+04,1.067820e+05,5397.000000,1.882200e+04,2.650000,1.378000e+04
75%,38.000000,8.664175e+04,8.960400e+04,1.752320e+05,9368.000000,3.397175e+04,2.950000,5.444700e+04
max,70.500000,4.081698e+06,4.468707e+06,8.550405e+06,156961.000000,3.212500e+06,4.980000,3.835726e+06

______________________________________________________________________________

### 3. Airports Codes Data
> This data comes  [from](https://datahub.io/core/airport-codes#data).

In [11]:
df_airports = pd.read_csv("airport-codes_csv.csv")

In [12]:
data_investigation(df_airports)

Data Head

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"

______________________________________________________________________________

Data Shape

'The data has 55075 rows and 12 columns'

______________________________________________________________________________

Columns

['ident',
 'type',
 'name',
 'elevation_ft',
 'continent',
 'iso_country',
 'iso_region',
 'municipality',
 'gps_code',
 'iata_code',
 'local_code',
 'coordinates']

______________________________________________________________________________

Columns Must be Dropped (ALL NULLS)

None

______________________________________________________________________________

Columns Must be Dropped (HAS ONLY ONE UNIQUE VALUE)

None

______________________________________________________________________________

Column Data Type

ident             str
type              str
name              str
elevation_ft    float
continent         str
iso_country       str
iso_region        str
municipality      str
gps_code          str
iata_code         str
local_code        str
coordinates       str
dtype: object

______________________________________________________________________________

Number of Nulls in Each Column

iata_code       45886
continent       27719
local_code      26389
gps_code        14045
elevation_ft     7006
municipality     5676
iso_country       247
ident               0
type                0
name                0
iso_region          0
coordinates         0
dtype: int64

______________________________________________________________________________

Percentge of Nulls in Each Column

iata_code       0.833155
continent       0.503296
local_code      0.479147
gps_code        0.255016
elevation_ft    0.127208
municipality    0.103059
iso_country     0.004485
ident           0.000000
type            0.000000
name            0.000000
iso_region      0.000000
coordinates     0.000000
dtype: float64

______________________________________________________________________________

Numeric Columns' Staticts

       elevation_ft
count  48069.000000
mean    1240.789677
std     1602.363459
min    -1266.000000
25%      205.000000
50%      718.000000
75%     1497.000000
max    22000.000000

______________________________________________________________________________

## Modeling using Postgres

![alternative text](model.png)

In [32]:
def get_df(dic, c1 ,c2, name):
    """
    Create a table form dictionary
    """
    return pd.DataFrame({f"{c1}": dic.keys(),
                f"{c2}": dic.values()}).to_csv(f"mapping_files/{name}.csv", index=False)

In [33]:
get_df(i94cit_res, "code", "country","i94cit_res" )
get_df(i94mode, "code", "mode","i94mode" )
get_df(i94addr, "code", "state","i94addr" )
get_df(i94visa, "code", "visa_type","i94visa" )